.header-body{
    background-image: url(../../../images/headerImage.jpg);
    background-size: cover;
    height: 350px;
    position: relative;
}
.group-heading{
    position: absolute;
    color: white;
    margin-top: 230px;
    margin-left: 15%;
}
